body {
  padding: 0;
  margin: 0;
}
.input-box {
  width: 90%;
  font-weight: 600;
  border: 2px solid rgb(11, 19, 235);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 8px;
  font-size: 16px;
}

.input-box:focus,
.input-box:active {
  outline: none;
}

.auth-btn {
  display: block;
  font-weight: 600;
  border-radius: 5px;
  width: 200px;
  margin: 2px auto;
  padding: 10px;
  font-size: 16px;
  background-color: #2c50f1;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-btn:hover {
  background-color: #160af6;
}

.auth-link {
  margin-top: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #160af6;
  font-weight: 600;
}
.auth-img {
  width: 100%;
  height: 99.3vh;
}

.auth-input-container {
  border-radius: 5px;
  width: 27%;
  padding: 15px 10px;
  position: absolute;
  top: 29%;
  right: 15.7%;
}
.auth-heading{
  position: absolute;
  top: 50px;
  right: 19%;
  color: blue;
}
