.input-box {
    border: 2px solid rgb(55, 55, 55);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }

.input-box:focus, .input-box:active{
    outline: none;
}

.auth-btn {
    border-radius: 5px;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .auth-btn:hover {
    background-color: #45a049;
  }