.transaction-card {
  background-color: #FFFAFA;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  margin: 10px 0;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}


.transaction-title {
  font-weight: 700;
  font-size: 25px;
}

.transaction-date {
  position: absolute;
  top: 50%;
  font-size: 15px;
  font-weight: 700;
}

.transaction-amount {
  position: absolute;
  right: 10px;
  top: 35%;
  font-size: 20px;
  font-weight: 700;
}

.transaction-category {
  font-size: 16px;
}

.transaction-type-credit {
  color: green;
}

.transaction-type-debit {
  color: red;
}
