.home-container {
  margin: 10px;
  padding: 35px;
  background-color: #fffffe;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-heading {
  font-weight: 700;
  font-size: 22px;
  margin: 20px 0;
  text-align: center;
  color: #232946;
}

.logout-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  transition: color 0.3s;
}

.logout-btn:hover {
  color: #2e2ef7;
}

.transaction-details-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.transaction-details-item {
  background-color: #fff;
  box-shadow: 0 0 6px 4px rgba(193, 193, 193, 0.8);
  width: 150px;
  padding: 9px 15px;
  margin: 10px;
  border-radius: 10px;
}

.transaction-details {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  display: block;
  margin: 0;
}

.transaction-title {
  color: #232946;
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  display: block;
  margin-top: 10px;
}

.transaction-card {
  background-color: #fffafa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
}

.transaction-heading {
  font-weight: 700;
  font-size: 25px;
  margin: 10px 0;
  display: block;
  text-align: center;
}

.transaction-date {
  font-size: 14px;
}

.transaction-amount {
  font-size: 20px;
  font-weight: 700;
}

.transaction-category {
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.transaction-type-credit {
  color: green;
}

.transaction-type-debit {
  color: red;
}

.transaction {
  max-height: 280px;
  overflow-y: scroll;
}

.add-img {
  width: 60px;
  position: fixed;
  right: 30px;
  top: 20%;
  cursor: pointer;
  padding: 6px;
}

@media screen and (max-width: 500px) {
  .home-container {
    margin: 40px 10px;
    padding: 15px;
    border-radius: 8px;
  }

  .home-heading {
    font-size: 14px;
    margin-top: 10px;
  }

  .transaction-details-item {
    margin: 5px;
    padding: 5px 8px;
  }

  .transaction-heading {
    font-size: 18px;
    margin: 5px 0;
  }
  .logout-btn {
    top: 40px;
    right: 20px;
    font-size: 18px;
  }
  .transaction-details {
    font-size: 16px;
  }
  .add-img {
    width: 50px;
    right: 35px;
    top: 30%;
  }

  .transaction {
    max-height: 450px;
    overflow-y: scroll;
  }
  .add-img {
    width: 50px;
    right: 25px;
    top: 25%;
    padding: 6px;
  }
}


@media screen and (max-width: 1211px) {
  .transaction {
    max-height: 550px;
    overflow-y: scroll;
  }
}